// Add to Home Screen
@import "../bower_components/add-to-homescreen/style/addtohomescreen.css";

// Bradypodion
@import "../bower_components/lesshat/build/lesshat";
@import "../bower_components/bradypodion/dist/bradypodion";

// Optional Modules
.bp-loading-bar;

// Icons
@import "icons";
@bp-icon-font-app: zentodone;

@mit-color: #E7A048;
@br-color: #347093;
@inbox-color: #8e00ab;
@do-color: #33A269;
@delete-color: #E76E48;

// User Styles
@android: false;
// @ios-dynamic-type: false;
@android-highlight-color: @inbox-color;
@ios-highlight-color: @inbox-color;
@android-navbar-app-icon: url(../favicon.ico);

@import "animations/taskcell";
@import "directives/taskcell";
@import "views/account";

form[name=taskInput] .bp-icon-search:before {
  font-family: zentodone;
  content: "\e601";
}

bp-cell input {
  height: 100%;
}

bp-cell.multiline {
  height: auto;
  -webkit-box-flex: 1;
  textarea {
    width: 100%;
    border: none;
    height: auto;
    resize: none;
    display: block;
    padding: 0;
    margin: 20px 0;
  }
  > span {
    margin: 20px 0;
    white-space: normal;
    line-height: 24px;
  }
  .bp-button, a {
    display: inline-block;
    height: auto;
    line-height: inherit;
  }
}

bp-toolbar bp-action.bp-icon {
  color: darkgray !important;
  &.@{tap-active}, &.active {
    &.mit {
      color: #E7A048 !important;
    }
    &.br {
      color: #347093 !important;
    }
    &.inbox {
      color: #8e00ab !important;
    }
    &.do {
      color: #33A269 !important;
    }
    &.delete {
      color: #E76E48 !important;
    }
  }
}



.bp-button.mit {
  .bp-ios-button-theme(@mit-color);
}

.bp-button.br {
  .bp-ios-button-theme(@br-color);
}

.mit bp-tab {
  .bp-ios-tab-theme(@ios-tab-color, @mit-color);
}

.br bp-tab {
  .bp-ios-tab-theme(@ios-tab-color, @br-color);
}

bp-navbar.mit {
  .bp-ios-navbar-theme(@ios-navbar-background, @ios-navbar-border, @ios-navbar-text-color, @mit-color);
}

bp-navbar.br {
  .bp-ios-navbar-theme(@ios-navbar-background, @ios-navbar-border, @ios-navbar-text-color, @br-color);
}

bp-table-header {
  z-index: 99999;
}

bp-table-grouped-footer {
  a {
    display: inline-block;
    font-weight: bold;
  }
}
