<bp-navbar-config bp-navbar-no-up>
  <bp-action ui-sref="inbox" class="bp-icon fa-fw fa-inbox">
    Inbox
  </bp-action>
</bp-navbar-config>

<bp-table bp-scroll class="bp-table-grouped">
  <span ng-if="isSignedIn()">
  <bp-table>
    <bp-cell class="bp-cell-value2">
      <span class="label">
        E-Mail
      </span>
      <span class="value">
        {{ getCurrentUser() }}
      </span>
    </bp-cell>
    <bp-cell>
      <bp-action class="bp-button signup" ng-click="signOut()">
        Sign Out
      </bp-action>
    </bp-cell>
  </bp-table>
  <bp-table-grouped-footer>
    You're currently logged in.
  </bp-table-grouped-footer>

  <bp-table-grouped-header ng-if="package">About</bp-table-grouped-header>
  <bp-table ng-if="package">
    <bp-cell class="bp-cell-value2" ng-click>
      <span class="label">
        Author
      </span>
      <a target="_blank" href="http://boennemann.me" class="value">
        {{ package.author }}
      </a>
    </bp-cell>
    <bp-cell class="bp-cell-value2" ng-click>
      <span class="label">
        Version
      </span>
      <a target="_blank" ng-href="https://github.com/boennemann/zentodone/releases/tag/v{{ package.version }}" class="value">
        {{ package.version }}
      </a>
    </bp-cell>
    <bp-cell class="bp-cell-value2" ng-click>
      <span class="label">
        License
      </span>
      <a target="_blank" href="https://github.com/boennemann/zentodone/blob/master/LICENSE" class="value">
        {{ package.license }}
      </a>
    </bp-cell>
    <bp-cell class="bp-cell-value2" ng-click>
      <span class="label">
        Repository
      </span>
      <a target="_blank" ng-href="{{ package.repository.url }}" class="value">
        GitHub
        <bp-action style="display: inline-block" class="bp-icon fa-fw fa-github"></bp-action>
      </a>
    </bp-cell>
    <bp-cell class="bp-cell-value2" ng-click>
      <span class="label">
        Bugs
      </span>
      <a target="_blank" ng-href="{{ package.bugs.url }}"class="value">
        Issues
        <bp-action style="display: inline-block" class="bp-icon fa-fw fa-github"></bp-action>
      </a>
    </bp-cell>
  </bp-table>

  <bp-table>
    <bp-cell>
      <bp-action class="bp-button signup" ng-click="resetProgress()">
        Reset Tutorial
      </bp-action>
    </bp-cell>
  </bp-table>
  </span>
  <span ng-if="!isSignedIn()">
  <bp-table>
    <form name="loginForm" ng-submit="handleForm()">
      <bp-cell class="bp-cell-value2">
        <label class="label" for="email">E-Mail</label>
        <input
          ng-model="data.email"
          name="email"
          class="value"
          required
          placeholder="jane@doe.com"
          type="email">
        <bp-action
          class="bp-icon fa-fw"
          ng-init="error = loginForm.email.$error"
          ng-class="{
           'fa-check green': !error.email && !error.required,
           'fa-times red': error.email || error.required
          }">
        </bp-action>
      </bp-cell>
      <bp-cell class="bp-cell-value2">
        <label class="label" for="password">Password</label>
        <input
          ng-model="data.password"
          name="password"
          class="value"
          required
          placeholder="••••••••"
          type="password">
        <bp-action
          class="bp-icon fa-fw"
          ng-class="{
           'fa-check green': !loginForm.password.$error.required,
           'fa-times red': loginForm.password.$error.required
          }">
        </bp-action>
      </bp-cell>
      <bp-cell
        class="bp-cell-value2"
        ng-class="{repeat: !hasRepeated()}"
        ng-if="allowSignUp">
        <label class="label" for="password2">Repeat</label>
        <input
          ng-model="data.password2"
          name="password2"
          class="value"
          placeholder="••••••••"
          type="password">
        <bp-action
          class="bp-icon fa-fw"
          ng-init="set = loginForm.password2.$error.required"
          ng-class="{
           'fa-check green': hasSamePassword(),
           'fa-times red': !hasSamePassword()
          }">
        </bp-action>
      </bp-cell>
      <bp-cell>
        <bp-action class="bp-button signup">
          <input type="submit" value="Let's Go">
        </bp-action>
      </bp-cell>
      <bp-cell ng-if="errors.offline">
        You can't sign in while being offline :(
      </bp-cell>
      <bp-cell ng-if="errors.down">
        It appears our servers are offline :(
      </bp-cell>
    </form>
  </bp-table>
  <bp-table-grouped-footer>
    <ng-pluralize
    count="allowSignUp - 0"
    when="{
      'other': 'Sign into an existing account or just create a new one.',
      'one': 'Seems like you\'re new here, so please verify your password. If you just mistyped it correct, but don\'t repeat it.'
    }"></ng-pluralize>
  </bp-table-grouped-footer>
  </span>

  <bp-table-grouped-footer>
    Zen To Done is a mobile web app based on the productivity system and book <a target="_blank" href="http://zenhabits.net/zen-to-done-ztd-the-ultimate-simple-productivity-system/">Zen To Done</a> by <a target="_blank" href="http://leobabauta.com/">Leo Babauta</a> and built with the following Open Source Projects:
    <br><br>
    <a target="_blank" href="http://hood.ie/">Hoodie.js</a> Apache License 2.0
    <br>
    <a target="_blank" href="http://angularjs.org/">AngularJS</a> MIT License
    <br>
    <a target="_blank" href="http://bradypodion.io/">Bradypodion.js</a> MIT License
    <br>
    <a target="_blank" href="http://jquery.com/">jQuery</a> MIT License
    <br>
    <a target="_blank" href="http://sizzlejs.com/">Sizzle</a> MIT License
    <br>
    <a target="_blank" href="http://eightmedia.github.io/hammer.js/">Hammer.js</a> MIT License
    <br>
    <a target="_blank" href="https://chieffancypants.github.io/angular-loading-bar/">angular-loading-bar</a> MIT License
    <br>
    <a target="_blank" href="https://angular-ui.github.io/ui-router/">ui-router</a> MIT License
    <br>
    <a target="_blank" href="http://lesshat.madebysource.com/">LESShat</a> MIT License
    <br>
    <a target="_blank" href="http://cubiq.org/add-to-home-screen">Add to Homescreen</a> MIT License
    <br>
    <a target="_blank" href="http://gruntjs.com/">Grunt.js</a> MIT License and <a target="_blank" href="https://github.com/boennemann/zentodone/blob/master/package.json#L21-L43">plugins</a>
    <br><br>
    The App Icon is based on <a target="_blank" href="http://thenounproject.com/term/stones/23987/">Stones</a> by <a target="_blank" href="http://thenounproject.com/grufus/">Grufus</a> <a target="_blank" href="http://creativecommons.org/licenses/by/3.0/us/">CC BY 3.0 US</a>.
    <br>
    Other Icons from <a target="_blank" href="http://fontawesome.io">Font Awesome</a> by Dave Gandy.
    <br><br>
    This app was sumbitted as a project at my university, which is why I have to put this note up here:
    <br><br>
    Zen To Done is my MultiMedia Project 1 for MultiMedia Technology at <a target="_blank" href="http://www.fh-salzburg.ac.at/">Fachhochschule Salzburg GmbH</a>.
    <br><br>
    As they dream of getting rich by selling my work – I guess – they made me grant them full usage rights and ancillary copyright.
    Here are the good news: This app is <a target="_blank" href="https://github.com/boennemann/zentodone/blob/master/LICENSE">MIT licensed</a>, free and open source software, which should balk their plans a little.
    <br><br>
    <a target="_blank" href="http://excellenteasy.com/legal/">Legal – Impressum</a>
  </bp-table-grouped-footer>
</bp-table>
