<bp-table
  class="br"
  bp-scroll
  ng-if="!br.length"
  ng-controller="ProgressCtrl"
  src="'views/br.zero.html'"
  ng-include>
</bp-table>

<bp-table
  ng-if="br.length"
  bp-scroll
  bp-scroll-sticky
  class="br">
  <bp-table-header
    ng-repeat-start="day in br track by $index"
    ng-pluralize
    count="day.offset"
    when="{
     '0': 'This week',
     'one': 'Next week',
     'other': &quot;Calendar Week {{ day[0].dueDate | date : 'w' }}&quot;
    }">
  </bp-table-header>
  <bp-cell
    task-cell
    class="task-cell-animation"
    ng-class="{done: task.done}"
    ng-repeat-end
    ng-repeat="task in day track by task.id"
    ui-sref="brTask({id:task.id})"
    swipe-right="setDone(task)"
    swipe-left="convertToInbox(task)"
    swipe-long-right="setDeleted(task)"
    swipe-long-left="convertToMit(task)">
    <div class="content">
      <bp-action ng-if="task.overdue" class="bp-icon fa-clock-o" aria-label="Overdue"></bp-action>
      <div class="title">{{ task.title }}</div>
      <time datetime="{{ task.date | date : 'yyyy-MM-dd hh:mm' }}">{{ task.date | date : 'MMM d, h:mm' }}</time>
      <div class="description" ng-if="task.description">{{ task.description }}</div>
    </div>
  </bp-cell>
</bp-table>

<bp-tabbar class="br">
  <bp-tab ui-sref="mit" bp-tab-icon="fa-list-ol" bp-tab-title="MITs"></bp-tab>
  <bp-tab ui-sref="inbox" bp-tab-icon="fa-inbox"></bp-tab>
  <bp-tab ui-sref="br" bp-tab-icon="fa-calendar"></bp-tab>
</bp-tabbar>
