<bp-cell
  class="multiline"
  ng-if="instructions"
  ng-init="sawInstructions('br')">
  <span>
    The <strong>Big Rocks</strong> are the major things you want to get done this week.
    <br><br>
    Your week is a bucket and you fill it up with little pebbles and grains of sand and whatever other debris comes your way,
    soon there will be no room for the Big Rocks.
    <br>
    You can’t get bigger buckets.
    <br>
    What you can do is <strong>put the Big Rocks in first</strong>, and fill in the pebbles and sand around them.
    <br><br>
    Go to your <bp-action class="bp-button br" ui-sref="inbox">Inbox</bp-action> and assign some Big Rocks
    or <bp-action class="bp-button br" ng-click><a href="http://zenhabits.net/big-rocks-first-double-your-productivity-this-week/">read more</a></bp-action> on the concept.

  </span>
</bp-cell>

<div
  class="inboxzero"
  ng-if="!instructions">
  <div>
    <bp-action class="bp-icon fa-calendar"></bp-action>
    No Big Rock assigned
  </div>
</div>
