<bp-cell class="multiline">
  <span>
    It’s very simple: your <strong>three Most Important Tasks</strong> are the ones you most want or need to get done today.
    <br><br>
    Sure, you get a lot more done than three things a day,
    but the idea is that <strong>no matter what else you do today</strong>, these are the things you want to be <strong>sure of doing</strong>.
    <br><br>
    Go to your <bp-action class="bp-button mit" ui-sref="inbox">Inbox</bp-action> and assign some MITs
    or <bp-action class="bp-button mit" ng-click><a href="http://zenhabits.net/purpose-your-day-most-important-task/">read more</a></bp-action> on the concept.

  </span>
</bp-cell>
