<bp-navbar-config bp-navbar-title="" ng-class="{mit: mit, br: br}"></bp-navbar-config>

<!-- ng-hide is a hack https://github.com/excellenteasy/bradypodion/issues/92 -->
<bp-navbar ng-hide="true" ng-if="!task.done">
  <bp-action
    ng-class="{active: mit}"
    ng-click="handle(convertToMit(task))"
    class="bp-icon mit fa-list-ol">
    Convert to most important tasks
  </bp-action>
  <bp-action
    ng-class="{active: br}"
    ng-click="handle(convertToBr(task))"
    class="bp-icon br fa-calendar">
    Convert to big rock
  </bp-action>
  <bp-action
    ng-class="{active: inbox}"
    ng-click="handle(convertToInbox(task))"
    class="bp-icon inbox fa-inbox">
    Inbox
  </bp-action>
  <bp-action
    ng-click="handle(setDone(task))"
    class="bp-icon do fa-check">
    Done
  </bp-action>
  <bp-action
    ng-click="handle(setDeleted(task))"
    class="bp-icon delete fa-times">
    Delete
  </bp-action>
</bp-navbar>

<bp-table ng-controller="TaskCtrl" bp-scroll>
  <form>
    <bp-table-header>
      Created {{ task.date | date : 'MMM d' }}
      <span
        ng-if="task.dueDate && !task.done && mit"
        ng-pluralize
        count="{{ unit | unitsOff: task.dueDate : task.date }}"
        when="{
          0: '– due today',
          'one': '– due tomorrow',
          'other': '– due in {} days'
        }">
      </span>
      <span
        ng-if="task.dueDate && !task.done && br"
        ng-pluralize
        count="{{ unit | unitsOff: task.dueDate : task.date }}"
        when="{
          0: '– due this week',
          'one': '– due next week',
          'other': '– due in {} weeks'
        }">
      </span>

    </bp-table-header>
    <bp-cell>
      <input
        type="text"
        ng-model="task.title"
        ng-blur="update()"
        ng-change="update()">
    </bp-cell>
    <bp-cell class="multiline">
      <textarea
        rows="16"
        msd-elastic
        placeholder="Task description…"
        ng-model="task.description"
        ng-blur="update()"
        ng-change="update()">
      </textarea>
    </bp-cell>
  </form>
</bp-table>
