<bp-navbar-config bp-navbar-title="" ng-class="{mit: mit, br: br}"></bp-navbar-config>

<bp-navbar ng-hide="true">
  <bp-action
    ng-class="{active: mit}"
    ng-click="handle(convertToMit(task))"
    class="bp-icon mit fa-list-ol">
    Convert to most important tasks
  </bp-action>
  <bp-action
    ng-class="{active: br}"
    ng-click="handle(convertToBr(task))"
    class="bp-icon br fa-calendar">
    Convert to big rock
  </bp-action>
  <bp-action
    ng-class="{active: inbox}"
    ng-click="handle(convertToInbox(task))"
    class="bp-icon inbox fa-inbox">
    Inbox
  </bp-action>
  <bp-action
    ng-click="handle(setDone(task))"
    class="bp-icon do fa-check">
    Done
  </bp-action>
  <bp-action
    ng-click="handle(setDeleted(task))"
    class="bp-icon delete fa-times">
    Delete
  </bp-action>
</bp-navbar>

<bp-table ng-controller="TaskCtrl">
  <form>
    <bp-cell><input type="text" ng-model="task.title" ng-change="update()"></bp-cell>
    <bp-cell class="textarea"><textarea ng-model="task.description" ng-change="update()"></textarea></bp-cell>
  </form>
</bp-table>
